/** 
 * Gist.
 */
.gist {
  td {
    border: inherit; // fix Skeleton override
  }
}

/** 
 * Codeblock.
 */
pre.highlight {
  padding: 8px 12px;
  position: relative; // container for absolute positioning

  > code {
    border: 0;
    overflow-x: auto;
    padding-right: 0;
    padding-left: 0;
  }

  &.highlight {
    border-left: 15px solid #35383c;
    color: #c1c2c3;
    overflow: auto;
    white-space: pre;
    word-wrap: normal;

    &, code {
      background-color: #222;
      font-size: 18px;
    }
  }

  // copy code to clipboard
  .copy {
    color: $white;
    position: absolute;
    top: 8px;        // distance from top of code block
    right: 8px;      // distance from right edge
    background: rgba(0, 0, 0, 0.7);
    border: none;
    border-radius: 6px;
    padding: 4px 10px;
    cursor: pointer;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.2s ease;

    &:active,
    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  // show button on hover
  &:hover .copy {
    opacity: 1;
  }
}
